@import "../../tokens/index.scss";
@import "../../tokens/mixings.scss";

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 123px 60px;
  gap: $spacing-20;
  background: #24242473;

  @include devices(tablet) {
    width: 100%;
    border-width: 706px;
  }

  .top-line {
    border-top: 1px solid white;
    height: 1px;
    width: 345px;
    margin-bottom: 39px;

    @include devices(tablet) {
      margin-bottom: 30px;
      width: 706px;
    }
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include devices(tablet) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      border-width: 706px;
    }

    .footer-logo {
      font-weight: $font-weight-700;
      font-size: $font-size-24;
      line-height: $line-height-32;
      letter-spacing: -0.333333px;
      color: $white;
    }

    .footer-social-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: $spacing-24;
    }
  }
}
