@import "../../tokens/index.scss";
@import "../../tokens/mixings.scss";

.experience-container {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  width: 100%;
  padding: 40px 16px;
  width: 345px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  position: relative;

  @include devices(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 708px;
  }

  @include devices(desktop) {
    width: 1110px;
    grid-template-columns: repeat(3, 1fr);
    height: 327px;
    border-bottom: none;
  }

  .header-pattern-rings-experience {
    position: absolute;
    bottom: -65px;
    right: -344px;
  }

  .experience-labels-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include devices(desktop) {
      justify-content: flex-start;
      align-items: flex-start;
    }

    .experience-title {
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      letter-spacing: -1px;
      color: #ffffff;

      @include devices(desktop) {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -1.5px;
      }
    }

    .experience-description {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #d9d9d9;

      @include devices(desktop) {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}
