@import "../../tokens/index.scss";
@import "../../tokens/mixings.scss";

.hero-container {
  padding: 200px 30px 30px;
  height: 680px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  @include devices(tablet) {
    align-items: flex-start;
    padding: 200px 30px 30px;
    padding: 90px 32px 60px;
    width: 100%;
  }

  .hero-title {
    text-align: center;
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1.13636px;
    color: #ffffff;

    @include devices(tablet) {
      max-width: 445px;
      text-align: start;
      font-size: 72px;
      line-height: 72px;
      letter-spacing: -2.04545px;
    }

    .hero-name {
      border-bottom: 4px solid #4ee1a0;
    }
  }

  .hero-description {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #d9d9d9;

    @include devices(tablet) {
      max-width: 445px;
      text-align: start;
      font-size: 18px;
      line-height: 28px;
    }
  }
}

.hero-img {
  object-fit: cover;
  width: 174px;
  height: 383px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -80px;
  @include devices(tablet) {
    display: none;
  }
}

.hero-img-tablet {
  display: none;
  @include devices(tablet) {
    width: 322px;
    height: 600px;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
