@import "../../tokens/index.scss";
@import "../../tokens/mixings.scss";

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 16px 87px;
  gap: 50px;
  background: #24242473;
  position: relative;
  width: 100%;

  @include devices(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 84px 165px;
  }

  .header-pattern-rings-btm {
    top: 436px;
    position: absolute;
    left: -343px;

    @include devices(desktop) {
      left: -205px;
      top: 327px;
    }
  }
  .contact-left-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    @include devices(tablet) {
      max-width: 445px;
    }

    @include devices(desktop) {
      align-items: flex-start;
    }

    .contact-left-title {
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      letter-spacing: -1.13636px;
      color: #ffffff;

      @include devices(tablet) {
        font-size: 72px;
        line-height: 72px;
        text-align: center;
        letter-spacing: -2.04545px;
      }

      @include devices(desktop) {
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -2.5px;
      }
    }
    .contect-information {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #d9d9d9;

      @include devices(desktop) {
        text-align: start;
        font-size: 18px;
        line-height: 28px;
      }
    }
  }

  .contact-right-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include devices(tablet) {
      max-width: 445px;
    }

    button {
      align-self: flex-end;
    }
  }
}
