@import "../../tokens/index.scss";
@import "../../tokens/mixings.scss";

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: $padding-spaicing-20 123px;
  gap: $spacing-20;

  @include devices(tablet) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
  }
  
  @include devices(desktop) {
    padding: 39px 165px;
  }

  .header-logo {
    font-weight: $font-weight-700;
    font-size: $font-size-24;
    line-height: $line-height-32;
    letter-spacing: -0.333333px;
    color: $white;
  }

  .header-social-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: $spacing-24;
  }
}
