body {
  background: #151515;

  .app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    color: white;
  }
}
